@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: "Roboto", sans-serif;
}

.title{
	font-size: 32px;
	padding-top: 15px;
	margin-left: 3%;
}

#titlelogo{
	width: 27.5%;
	height: 27.5%;
	margin: auto;
	display: inline-block;
}

#main {
	display: block;
	max-width: 90%;
  margin: 0px auto;
	padding-bottom: 10%;
	border: 0px solid lightgrey;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  text-align: center;
}

#meny {
	width: 90%;
	margin: auto;
}

#meny li{
	  list-style-type: none;
    display: inline-block;
		margin-right: -4px;
}

#meny li a{
		text-decoration: none;
		color: white;
		background-color: #999999;
		padding: 8px 32px 8px 32px;
}

#meny li a:hover {
    background-color: #EEEEEE;
    color: black;
		transition: 0.3s background-color;
}

.line-container {
		height: 1px;
		width: 50%;
		margin-left: 25%;
		margin-top: 50px;
		margin-bottom: 50px;
		background: grey;

}

img {
    max-width: 100%;
    max-height: 100%;
}

.news_image {
	width: 50%;
	height: 33%;
	margin: auto;
	margin-top: 1.5%;
	margin-bottom: 3%;
	margin-left: 1%;
	border-radius: 10px;

	display: inline-block;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
}

.navbar-fixed {
    top: -8px;
    z-index: 100;
    position: fixed;
}

#text-container {
	width: 60%;

	display: inline-block;
	text-align: left;
}
